* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main {
  background: pink;
  height: 100vh;
  width: 100%;
}

.main-header {
  background-color: #eee;
  padding: 30px;
}

.main-header > ul {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: 0 auto;
}

.main-header-li {
  outline: none;
  text-decoration: none;
  list-style: none;
  font-size: 20px;
  cursor: pointer;
  color: black;
}

.counter-parent {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.counter-parent h3 {
  font-size: 30px;
}

.counter-parent button {
  background: transparent;
  font-size: 20px;
  border-radius: 5px;
  padding: 10px 40px;
  margin-top: 10px;
}

.calc {
  width: 330px;
  margin: 100px auto;
}

#answer {
  background-color: #e3e3e3;
  padding: 10px;
  font-size: 35px;
  width: 320px;
  height: 45px;
  text-align: right;
  border: 3px solid #333;
}

.button {
  background: #333;
  height: 80px;
  width: 80px;
  color: white;
  font-size: 30px;
  border: 1px solid black;
  float: left;
}

.button1 {
  width: 160px;
}